body {

    background: linear-gradient( -45deg , #ee7752 , #e73c7e , #23a6d5 , #23d5ab);
    background-size:  400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
 
    0%{
        background-position: 0% 50%;
    }

    50% {

        background-position:  100% 50%;
    }

    100% {

        background-position:  0% 50%;
    }
}


h2 {

    text-align: center;
}

h2 {

    text-align: center;
}

@keyframes speed {

    0%{

        transform: translate(0%);
        border-radius: 50%;
    
    }

    25% {

        transform: translate(150%) scale(0.5);
        border-radius: 0%;

    }

    50% {

        transform: translate(150% , 150%);
        border-radius: 50%;
    }

    75% {

        transform: translate( 0 , 150%) scale(0.5);
        border-radius: 0%;
    }
    

}


.span-container {

    width: 100px;
    height: 100px;
    transform:  translate(-50% -50%);
    position:absolute;
    top: 42%;
    left: 45%;
}

span {

    display: block;
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    animation: speed 2s infinite ease-in-out;

}

.one {

    background:  #c9ba12;
    animation-delay: 1.5s
}

.two {

    background: #a11cc7;
    animation-delay: 1s;
}

.three {

    background: #237ead;
}

.four {

    background: #e0bcbc;
}

.firts-one {

    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: aliceblue;
    margin-top: 20px;
}
